c/wasm/to_ascii/main.wasm
c/exercism/isogram/a.out
c/wasm/build_with_zig/main.wasm
c/experiments/stacks/simple_stack/.zig-cache
c/experiments/stacks/simple_stack/zig-out
c/experiments/fizzbuzz/.zig-cache
c/withzig/article/calling_c/.zig-cache
c/withzig/article/calling_c/zig-out
c/template/bin
c/codingchallenges/wc/bin
